.nav-block {
  display: flex;

  &__text {
    display: flex;
    color: $c-black-main;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;

    padding: 0;
    border: none;
    background: none;

    @include breakpoint(tablet) {
      color: $c-white-main;
    }
    @include breakpoint(mobile) {
      color: $c-white-main;
    }
  }
  button:hover {
    box-shadow: 0px 1px 0px 0px $c-black-main;
    cursor: pointer;
    @include breakpoint(mobile) {
      box-shadow: 0px 1px 0px 0px $c-white-main;
    }
    @include breakpoint(tablet) {
      box-shadow: 0px 1px 0px 0px $c-white-main;
    }
  }
}
