.primary-btn {
  border-radius: 100px;
  padding: 12px 24px;
  display: flex;
  width: 258px;
  height: 79px;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
  background: #2b44e7;
  text-align: center;
  border: none;
}

button:hover {
  cursor: pointer;
}
