.primary-btn {
  border-radius: 100px;
  padding: 12px 24px;
  display: flex;
  width: 260px;
  height: 80px;
  justify-content: center;
  align-items: center;

  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
  background: #2b44e7;
  text-align: center;
  border: none;
  text-decoration: none;

  @include breakpoint(tablet) {
    border-radius: 70px;
    padding: 10px 20px;
    gap: 10px;
    display: flex;
    width: 200px;
    height: 70px;
    background: #2b44e7;

    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
    
    text-align: center;
    border: none;
    text-decoration: none;
  }
  @include breakpoint(mobile) {
    border-radius: 70px;
    padding: 10px 20px;
    display: flex;
    width: 200px;
    height: 70px;
    background: #2b44e7;

    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
    
    text-align: center;
    border: none;
    text-decoration: none;
  }
}

button:hover {
  cursor: pointer;
}
