.primary-btn {
  
  border-radius: 100px;
  padding: 12px 24px;
  width: 132px;
  height: 48px;
  color: #FFFFFF;
  background-color: #2B44E7;
  text-align: center;
  border: none;
  &:hover {
    background-color: green;
  }
}
