.secondary-btn {
  border-radius: 100px;
  padding: 12px 24px;
  width: 132px;
  height: 48px;
  color: #2B44E7;
  background-color: transparent;
  text-align: center;
  border-color: #2B44E7;
  outline: none;
  // &:hover {
  //   background-color: green;
  // }
}
