.secondary-btn {
  border-radius: 100px;
  padding: 12px 24px;
  width: 132px;
  height: 48px;
  color: #2b44e7;
  background-color: transparent;
  text-align: center;
  border-color: #2b44e7;
  outline: none;
}
button:hover {
  cursor: pointer;
}
