.tertiary-btn {
  display: flex;
  width: 240px;
  height: 70px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 135px;
  background: #fff;
  text-decoration: none;
  transition: all 0.3s;

  @include breakpoint(mobile) {
  }
  @include breakpoint(tablet) {
  }

  &__title {
    color: var(--NAVY, #161a39);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 27px */

    @include breakpoint(tablet) {
    }
    @include breakpoint(mobile) {
    }
  }

  &:hover {
    background: white;
    border: 5px solid #3c2350;
    color: #fff;
  }
}

.tertiary-btn:hover .tertiary-btn__title {
  color: #583275;
}

button:hover {
  cursor: pointer;
}
