$overlay-color: #161a39;

.tertiary-btn {
  display: flex;
  width: 240px;
  height: 70px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 135px;
  position: relative;
  overflow: hidden;

  color: var(--NAVY, #161a39);
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  border: 1px solid white;
  background-color: white;
  text-decoration: none;

  @include breakpoint(mobile) {
    width: 200px;
    height: 50px;

    color: var(--NAVY, #161a39);
    background-color: white;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 27px */
  }

  &:before {
    content: "\f054";
    font-family: FontAwesome;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    top: 0;
    left: 0;
    height: 100%;
    width: 30px;
    background-color: rgba($overlay-color, 0.3);
    border-radius: 0 50% 50% 0;
    transform: scale(0, 1);
    transform-origin: left center;
    transition: all 0.2s linear;
  }

  &:hover {
    text-indent: 30px;

    &:before {
      transform: scale(1, 1);
      text-indent: 0;
    }
  }
}

button:hover {
  cursor: pointer;
}
