.outer-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;

  @include breakpoint(mobile) {
    height: 800px;
  }

  @include breakpoint(tablet) {
  }
}
