.baremetal {
  display: flex;
  width: 100%;
  max-width: 1292px;
  padding: 32px;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 24px;
  background: #583275;
}

.baremetal-header {
  &__title {
    color: #fff;

    /* H3 */
    font-family: Casper Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    line-height: 150%; /* 60px */
    letter-spacing: 2px;
  }

  &__text {
    color: #fff;
    font-family: Casper Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: thin;
    line-height: 150%; /* 36px */
    letter-spacing: 2.4px;
  }

  h5 {
    color: #fff;

    /* H5 */
    font-family: Casper Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: 150%; /* 36px */
    letter-spacing: 2.4px;
  }
}

.baremetal-blocks {
  &__title {
    color: #fff;
    font-family: Casper Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 48px */
    letter-spacing: 1.6px;
  }

  &__text {
    color: #fff;
    font-family: Casper Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 36px */
    letter-spacing: 1.2px;
  }
}
