.business-positioner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: orange;
  border-style: solid;
}
.business {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  &__logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    width: auto;
    height: 80px;
    padding: 60px;
    background: #eff9fc;
    border: 1px solid red img {
    }
  }

  &__text {
    p {
      color: var(--Black, #1d1d1f);
      text-align: center;
      font-family: Casper Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 24px */
      letter-spacing: 0.8px;
    }
  }
}
