.experiencedblocks-positioner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;

  background: #003b93;
}

.experienced-header {
  display: flex;
  padding-top: 50px;
  &__subtitle {
    padding: 25px;
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 60px */
  }

  &__text {
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
  }
}
.blocks {
  display: flex;
  width: 100%;
  max-width: 1440px;
  padding-bottom: 130px;
  padding-top: 80px;
  padding-left: 70px;
  padding-right: 70px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  .experiencedblocks {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    &__title {
      padding: 20px;
      color: #fff;
      text-align: center;
      font-family: Inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 36px */
    }

    &__text {
      color: #fff;
      text-align: center;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 27px */
    }
  }

  .experiencedblocks-image{
    width: 100%;
    max-width: 150px;
    height: auto;

  }
}
