.experiencedblocks-positioner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $c-navy-main;
}

.experienced-header {
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;

  &__title {
    padding: 25px;
    color: $c-white-main;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 130%;
  }

  &__subtitle {
    color: $c-white-main;
    text-align: center;
    width: 700px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }
}
.blocks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 70px;
  padding-bottom: 185px;
  gap: 110px;
  flex-wrap: wrap;

  .experiencedblocks {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &__title {
      padding-top: 20px;
      padding-bottom: 20px;
      color: $c-white-main;
      text-align: center;
      font-size: 30px;
      line-height: 130%;
    }

    &__text {
      width: 310px;
      color: $c-white-main;
      text-align: center;
      font-size: 16px;
      line-height: 150%;
    }

    &__image1 {
      width: 100%;
      max-width: 160px;
      height: auto;
    }
    &__image2 {
      width: 100%;
      max-width: 160px;
      height: auto;
    }
    &__image3 {
      width: 100%;
      max-width: 160px;
      height: auto;
    }
  }
}
