.footer-positioner {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 50px;
  background: #161a39;

  @include breakpoint(tablet) {

  }

  @include breakpoint(mobile) {

  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1440px;

  &-left {
    display: flex;
    flex-direction: column;
    margin-left: 70px;

    &__logo {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      text-decoration: none;

      &--text {
        color: var(--WHITE, #fff);
        text-align: center;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 27px */
        margin-left: 15px;
      }

      &--swiss-logo {
        width: 30px;
        height: 30px;
      }

      &--telegram-logo {
        width: 20px;
        height: 20px;
      }
    }

    &__bites-logo {
      display: flex;
      align-items: center;
      img {
        width: 90px;
        height: 30px;
      }
    }
  }

  &-right {
    display: flex;
    flex-wrap: wrap;

    &--subtitle {
      margin-right: 70px;
      color: var(--WHITE, #fff);
      text-align: center;

      /* P_Body */
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 24px */
      background: none;
      border: none;
    }
  }
}
