.footer-positioner {
  display: flex;
  width: 100%;
  max-width: 1300px;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  gap: 48px;
  padding-top: 70px;
  border-top: 1px solid var(--grey-disable, #7e7f88);

  @include breakpoint(tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 330px;
    padding-top: 60px;
  }

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 330px;
    padding-top: 60px;
  }
}

.footer {
  display: flex;
  width: 100%;
  align-items: flex-start;
  align-self: stretch;
  gap: 240px;
  flex-wrap: wrap;
  padding-bottom: 70px;

  @include breakpoint(mobile) {
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 50px;
    padding-bottom: 30px;
  }

  @include breakpoint(tablet) {
    display: flex;
    width: 100%;
    align-items: flex-start;
    align-self: stretch;
    gap: 70px;
    padding-bottom: 30px;
  }

  &__content {
    @include breakpoint(mobile) {
      display: flex;
      width: 100%;
      align-items: flex-start;
      gap: 90px;
      padding-bottom: 30px;
    }

    @include breakpoint(tablet) {
      display: flex;
      width: 100%;
      align-items: flex-start;
      align-self: stretch;
      gap: 90px;
      padding-bottom: 30px;
    }

    &__desktoplogo {
      display: flex;
      width: 200px;
      height: 25px;

      @include breakpoint(mobile) {
        display: none;
      }
      @include breakpoint(tablet) {
        display: none;
      }
    }

    &__mobilelogo {
      display: none;

      @include breakpoint(mobile) {
        display: flex;
        justify-content: left;
        //width: 200px;
        //height: 70px;
      }
      @include breakpoint(tablet) {
        display: flex;
        justify-content: left;
        // width: 200px;
        // height: 50px;
      }
    }

    &__left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
        //align-items: flex-start;
      }
      @include breakpoint(tablet) {
        display: flex;
        flex-direction: column;
        //align-items: flex-start;
      }

      &--title {
        padding-bottom: 10px;
        color: var(--primary-blue-main, #2b44e7);
        text-align: center;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 36px */
        border: none;
        background: none;

        @include breakpoint(mobile) {
          padding-bottom: 10px;
          color: var(--primary-blue-main, #2b44e7);
          text-align: center;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%; /* 24px */
          border: none;
          background: none;
        }
        @include breakpoint(tablet) {
          padding-bottom: 10px;
          color: var(--primary-blue-main, #2b44e7);
          text-align: center;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%; /* 24px */
          border: none;
          background: none;
        }
      }
      &--subtitle {
        padding-bottom: 10px;
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 27px */
        border: none;
        background: none;

        @include breakpoint(mobile) {
          padding-bottom: 10px;
          border: none;
          background: none;

          color: #000;
          text-align: center;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 21px */
        }
        @include breakpoint(tablet) {
          padding-bottom: 10px;
          border: none;
          background: none;

          color: #000;
          text-align: center;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 21px */
        }
      }
      button:hover {
        cursor: pointer;
      }
    }

    &__right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
        //align-items: flex-start;
      }
      @include breakpoint(tablet) {
        display: flex;
        flex-direction: column;
        //align-items: flex-start;
      }

      &--title {
        border: none;
        background: none;
        padding-bottom: 10px;

        color: var(--primary-blue-main, #2b44e7);
        text-align: center;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 36px */

        @include breakpoint(mobile) {
          padding-bottom: 10px;
          border: none;
          background: none;

          color: var(--primary-blue-main, #2b44e7);
          text-align: center;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%; /* 24px */
        }
        @include breakpoint(tablet) {
          padding-bottom: 10px;
          border: none;
          background: none;

          color: var(--primary-blue-main, #2b44e7);
          text-align: center;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%; /* 24px */
        }
      }
      &--subtitle {
        display: flex;
        flex-direction: row;
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 27px */
        border: none;
        background: none;
        text-decoration: none;

        @include breakpoint(mobile) {
          color: #000;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 21px */
        }
        @include breakpoint(tablet) {
          color: #000;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 21px */
        }
      }
      button:hover {
        cursor: pointer;
      }

      &--icon {
        width: 30px;
        height: 30px;
        margin-right: 10px;

        @include breakpoint(mobile) {
          width: 25px;
          height: 25px;
          margin-right: 10px;
        }
        @include breakpoint(tablet) {
          width: 25px;
          height: 25px;
          margin-right: 10px;
        }
      }
    }
  }
}
