.infrastructure-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  @include breakpoint(tablet) {

  }
  @include breakpoint(mobile) {
  }
  @include breakpoint(laptop) {

  }

  &__title {
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    color: var(--Black, #1d1d1f);

    /* P_H2 */
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 39px */

    @include breakpoint(tablet) {

    }
    @include breakpoint(mobile) {
      margin-top: 0;
      margin-bottom: 0;
    }
    @include breakpoint(laptop) {

    }
  }

  &__text {
    justify-content: center;
    color: var(--Black, #1d1d1f);
    display: flex;
    text-align: center;
    margin-top: 30px;

    /* P_Body */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */

    @include breakpoint(tablet) {

    }
    @include breakpoint(mobile) {
      width: 330px;
      justify-content: center;
      text-align: center;

    }
    @include breakpoint(laptop) {



    }
  }

  &__img {
    display: flex;
    width: 250px;
    margin-top: 35px;

    @include breakpoint(tablet) {
    }
    @include breakpoint(mobile) {
    }
    @include breakpoint(laptop) {

    }
  }
}
