$color-block1: #effafd;
$color-block2: #eefbf6;
$color-block3: #fef1ff;

.infrastructure-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 24px;
  border: 1px solid rgba(56, 56, 138, 0.12);
  margin-left: 0;
  margin-right: 0;

  
  

  &__title {
    padding: 30px;
    color: var(--Black, #1d1d1f);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 36px */
  }

  &__text {
    padding: 20px;
    color: var(--Black, #1d1d1f);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
  }

  &__img {
    width: 100%;
    height: 170px;
    margin-top: 20px; 
    

    &.image1 {
      background-color: $color-block1;
      border-radius: 24px;
    }

    &.image2 {
      background-color: $color-block2;
      border-radius: 24px;

    }

    &.image3 {
      background-color: $color-block3;
      border-radius: 24px;

    }

  }
}
