.joinblock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1300px;
  height: 500px;
  padding-top: 90px;
  padding-bottom: 90px;

  border-radius: 24px;
  border: 3px solid $c-navy-main;
  background: $c-navy-main;
  box-shadow: 0px 13px 23px 0px rgba(0, 0, 0, 0.1);

  @include breakpoint(tablet) {
    width: 100%;
    max-width: 900px;
    height: 400px;
    padding-top: 90px;
    padding-bottom: 90px;
  }
  @include breakpoint(mobile) {
    border-radius: none;
    border: none;
    background: none;
    box-shadow: none;

    max-width: none;
    height: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  @include breakpoint(laptop) {
    margin-left: 70px;
    margin-right: 70px;
  }

  &__title {
    color: $c-white-main;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    line-height: 130%;

    @include breakpoint(tablet) {
      color: $c-white-main;
      font-size: 40px;
      width: 400px;
    }
    @include breakpoint(mobile) {
      color: $c-white-main;
      font-size: 35px;
    }
  }

  &__button {
    display: flex;
    padding-top: 40px;

    @include breakpoint(tablet) {
    }
    @include breakpoint(mobile) {
    }
  }
}
