.mobile-experiencedblocks-positioner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $c-navy-main;
}

.mobile-experienced-header {
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  align-items: center;
  justify-content: center;
  flex-direction: column;


  &__title {
    padding: 25px;
    width: 300px;

    color: $c-white-main;
    text-align: center;
    justify-content: center;

    /* P_H2a */
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 52px */

    @include breakpoint(tablet) {
      width: 485px;
    }
  }

  &__subtitle {
    color: $c-white-main;
    text-align: center;
    justify-content: center;

    width: 310px;

    /* P_Body */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */

    @include breakpoint(tablet) {
      width: 470px;
      margin-bottom: 50px;
    }
  }
}
.mobile-blocks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-bottom: 100px;
  gap: 50px;
  flex-wrap: wrap;

  .mobile-experiencedblocks {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &__title {
      padding-top: 20px;
      padding-bottom: 20px;
      color: $c-white-main;
      text-align: center;

      /* P_H2 */
      font-family: Poppins;
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 39px */
    }

    &__text {
      width: 220px;
      color: $c-white-main;
      text-align: center;

      /* P_Body */
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 24px */
      
      @include breakpoint(tablet) {
        width: 290px;
      }
    }
  

    &__image1 {
      width: 100%;
      max-width: 160px;
      height: auto;
    }
    &__image2 {
      width: 100%;
      max-width: 160px;
      height: auto;
    }
    &__image3 {
      width: 100%;
      max-width: 160px;
      height: auto;
    }
  }
}
