.mobileanimation-positioner {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background: $c-navy-main;
}

.mobileanimation-content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  margin-left: 30px;

  gap: 10px;

  &--title {
    display: flex;
    width: 320px;
    color: $c-gray-main;
    font-size: 30px;
    font-weight: 600;
    line-height: 130%;
  }

  &--subtitle {
    display: flex;
    margin-bottom: 60px;
    width: 315px;
    color: $c-gray-main;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
  }
}
