.navBar {
    
    display: flex;
    align-items: center;
    width: auto;
    height: 48px;
    margin-top: 19px;
    margin: auto;
    margin-left: 69px;
    margin-right: 69px;
    justify-content: space-between;
}

.swisslogo{
    width: 201px;
    height: 32px;
}