.mobile-positioner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: white;

  z-index: 1;
}

.navbar-mobile {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 20px;
  margin-right: 40px;
  margin-left: 40px;

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: auto;
    margin-right: auto;

    &:active {
      cursor: pointer;
    }
  }

  &__menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    background: var(--NAVY, #161a39);

    &--content {
      display: flex;
      flex-direction: column;
      gap: 50px;
      align-items: center;
      padding-top: 140px;

      &:active {
        cursor: pointer;
      }
    }

    &--line {
      display: flex;
      width: 300px;
      border-top: 1px solid white;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 25px;
    }

    &--telegram {
      display: flex;
      max-width: 60px;
      height: 60px;
      margin-top: 10px;
      justify-content: center;
      align-items: center;
    }
  }
}

.mobile-hamburger {
  display: flex;
  position: absolute;
  right: 0;
  padding-right: 40px;

  &__toggled {
    display: flex;
    position: absolute;
    right: 0;
    z-index: 3;
    padding-right: 40px;
    color: white;

    &:active {
      cursor: pointer;
    }
  }
}
