.navbar-positioner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  position: fixed;
  z-index: 2;
  top: 0;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: auto;
    margin-left: 70px;

    &:hover {
      cursor: pointer;
    }
  }

  &__buttons {
    display: flex;
    gap: 50px;
    margin-right: 70px;
    align-items: center;
    flex-wrap: wrap;
  }
}
