.infrastructureSwiss {
  border-color: green;
  border-style: solid;
  width: 1303px;
  height: 1153px;
  gap: 92px; //gap w żaden sposób nie zmienia wyglądu strony co robię źle?+
}

.infrastructureText {
  color: var(--black, #1d1d1f);
  text-align: center;

  h2 {
    /* H2 */
    font-family: Casper Sans;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 84px */
    letter-spacing: 2.8px;
  }

  h4 {
    /* H4 */
    font-family: Casper Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 36px */
    letter-spacing: 2.4px;
  }

  p {
    font-family: Casper Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: 1.2px;
  }
}
