.validator-positioner {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.validator {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 200px;

  @include breakpoint(mobile) {
    width: 100%;
    margin-top: 100px;
  }
  @include breakpoint(tablet) {
    margin-top: 80px;
    width: 100%;
  }
  @include breakpoint(laptop) {
    margin-top: 80px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    justify-content: center;
    max-width: 1440px;

    @include breakpoint(tablet) {
      display: flex;
      align-items: flex-start;
      max-width: none;
      margin-left: 70px;
      margin-right: 0;
    }
    @include breakpoint(mobile) {
      display: flex;
      align-items: center;
      max-width: none;
      margin-left: 45px;
      margin-right: 45px;
    }
    @include breakpoint(laptop) {
      display: flex;
      align-items: flex-start;
      max-width: none;
      margin-left: 70px;
      margin-right: 0;
    }
  }

  &__title {
    display: flex;
    color: $c-navy-main;
    /* P_H1 */
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 83.2px */

    @include breakpoint(mobile) {
      text-align: center;
      margin-bottom: 10px;
      font-size: 55px;
    }
    @include breakpoint(tablet) {
      margin-bottom: 10px;
      font-size: 55px;
    }
  }

  &__subtitle {
    display: flex;
    margin-bottom: 40px;
    max-width: 410px;
    color: $c-navy-main;

    /* P_H2 */
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 39px */

    @include breakpoint(mobile) {
      text-align: center;
      margin-bottom: 20px;
      font-size: 25px;
    }
    @include breakpoint(tablet) {
      margin-bottom: 20px;
      font-size: 25px;
    }
  }

  &__text {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    color: $c-navy-main;

    /* P_Body */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */

    @include breakpoint(tablet) {
      max-width: 420px;
      margin-bottom: 20px;
      font-size: 14px;
    }
    @include breakpoint(mobile) {
      max-width: 400px;
      margin-bottom: 20px;
      text-align: center;
      font-size: 14px;
    }

    @include breakpoint(laptop) {
      max-width: 500px;
      font-size: 16px;
    }
  }

  &__button {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 200px;

    @include breakpoint(tablet) {
      margin-top: 50px;
      margin-bottom: 240px;
    }
    @include breakpoint(mobile) {
      margin-top: 0;
      margin-bottom: 310px;
    }

    @include breakpoint(laptop) {
      margin-top: 50px;
      margin-bottom: 240px;
    }
  }
}
