.validator-positioner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  //border: 1px solid black;
}

.validator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 190px;

  &__title {
    min-width: 400px;
    justify-content: center;
    text-align: center;
    color: var(--Black, #1d1d1f);
    font-family: Inter;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;

    &--blue {
      color: #2b44e7;
      text-align: center;
      font-family: Inter;
      font-size: 55px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
    }
  }

  // &__desktopSubtitle {
  //   display: flex;

  //   color: var(--Black, #1d1d1f);
  //   text-align: center;
  //   padding: 60px;

  //   font-family: Inter;
  //   font-size: 20px;
  //   font-style: normal;
  //   font-weight: 300;
  //   line-height: 150%;

  //   @include breakpoint(mobile) {
  //     display: none;
  //   }
  //   @include breakpoint(tablet) {
  //     display: none;
  //   }

  //   &--mobile {
  //     display: none;
  //     padding-top: 20px;
  //     padding-bottom: 50px;

  //     @include breakpoint(tablet) {
  //       display: flex;
  //       text-align: left;
  //       justify-content: left;

  //       color: var(--Black, #1d1d1f);
  //       font-family: Inter;
  //       font-size: 16px;
  //       font-style: normal;
  //       font-weight: 300;
  //       line-height: 150%; /* 24px */
  //     }
  //     @include breakpoint(mobile) {
  //       display: flex;
  //       text-align: left;
  //       justify-content: left;

  //       color: var(--Black, #1d1d1f);
  //       font-family: Inter;
  //       font-size: 16px;
  //       font-style: normal;
  //       font-weight: 300;
  //       line-height: 150%; /* 24px */
  //     }
  //   }
  // }

  // &__title-mobile {
  //   display: none;

  //   @include breakpoint(tablet) {
  //     display: flex;
  //     text-align: left;
  //     justify-content: left;

  //     color: var(--Black, #1d1d1f);
  //     font-family: Inter;
  //     font-size: 40px;
  //     font-style: normal;
  //     font-weight: 500;
  //     line-height: 130%;
  //   }
  //   @include breakpoint(mobile) {
  //     display: flex;
  //     text-align: left;
  //     justify-content: left;

  //     color: var(--Black, #1d1d1f);
  //     font-family: Inter;
  //     font-size: 40px;
  //     font-style: normal;
  //     font-weight: 500;
  //     line-height: 130%;
  //   }

  //   &--blue {
  //     display: none;

  //     @include breakpoint(tablet) {
  //       color: #2b44e7;
  //       font-family: Inter;
  //       font-size: 40px;
  //       font-style: normal;
  //       font-weight: 500;
  //       line-height: 130%; /* 52px */
  //       white-space: nowrap;
  //     }
  //     @include breakpoint(mobile) {
  //       color: #2b44e7;
  //       font-family: Inter;
  //       font-size: 40px;
  //       font-style: normal;
  //       font-weight: 500;
  //       line-height: 130%; /* 52px */
  //       white-space: nowrap;
  //     }
  //   }
  //   &--blue::after {
  //     display: none;

  //     @include breakpoint(tablet) {
  //       color: var(--Black, #1d1d1f);
  //       font-family: Inter;
  //       font-size: 40px;
  //       font-style: normal;
  //       font-weight: 500;
  //       line-height: 130%;
  //       content: " -";
  //     }
  //     @include breakpoint(mobile) {
  //       color: var(--Black, #1d1d1f);
  //       font-family: Inter;
  //       font-size: 40px;
  //       font-style: normal;
  //       font-weight: 500;
  //       line-height: 130%;
  //       content: " -";
  //     }
  //   }
  // }

  // &__subtitle-mobile {
  // }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;

    @include breakpoint(tablet) {
      display: flex;
      justify-content: left;
      align-items: center;
    }
    @include breakpoint(mobile) {
      display: flex;
      justify-content: left;
      align-items: center;
    }
  }
}
