.why-choose-positioner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--NAVY, #161a39);

  @include breakpoint(mobile) {
  }
  @include breakpoint(tablet) {
  }
  @include breakpoint(laptop) {
  }
}

.why-choose {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint(mobile) {
    flex-direction: column;
  }
  @include breakpoint(tablet) {
    flex-direction: column;
  }
  @include breakpoint(laptop) {
    flex-direction: column;
  }

  &__block {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding-left: 70px;
    padding-top: 90px;

    @include breakpoint(mobile) {
      flex-direction: column;
      align-items: center;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
    }
    @include breakpoint(tablet) {
      flex-direction: column;
      align-items: center;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
    }
    @include breakpoint(laptop) {
      flex-direction: column;
      align-items: center;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 90px;
    margin-top: 60px;

    @include breakpoint(mobile) {
      margin-bottom: 0;
      margin-top: 80px;
      align-items: center;
      text-align: center;
      gap: 25px;
    }
    @include breakpoint(tablet) {
      margin-bottom: 0;
      margin-top: 60px;
      align-items: center;
      text-align: center;
      gap: 50px;
    }
    @include breakpoint(laptop) {
      margin-bottom: 0;
      margin-top: 60px;
      align-items: center;
      text-align: center;
      gap: 50px;
    }
  }

  &__title {
    display: flex;
    color: var(--WHITE, #fff);

    /* P_H2 */
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 39px */

    @include breakpoint(mobile) {
      text-align: center;
      font-size: 25px;
    }
    @include breakpoint(tablet) {
      text-align: center;
      font-size: 25px;
    }

    @include breakpoint(laptop) {
      text-align: center;
      font-size: 30px;
    }
  }

  &__subtitle {
    width: 100%;
    color: var(--WHITE, #fff);

    /* P_Body */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */

    @include breakpoint(mobile) {
      display: flex;
      max-width: 340px;

      text-align: center;
      font-size: 14px;
    }
    @include breakpoint(tablet) {
      display: flex;
      max-width: 340px;

      text-align: center;
      font-size: 14px;
    }
    @include breakpoint(laptop) {
      display: flex;
      max-width: 510px;

      text-align: center;
      font-size: 14px;
    }
  }

  &__logo-container {
    width: 100%;
    display: flex;
    max-width: 550px;
    margin-bottom: 60px;

    @include breakpoint(mobile) {
      justify-content: center;
      max-width: 400px;
      margin-bottom: 100px;
    }
    @include breakpoint(tablet) {
      justify-content: center;
      max-width: 400px;
      margin-bottom: 50px;
    }
    @include breakpoint(laptop) {
      justify-content: center;
      max-width: 400px;
      margin-bottom: 50px;
    }
  }

  &__casperlogo {
    display: flex;
    @include breakpoint(mobile) {
    }
    @include breakpoint(tablet) {
    }
    @include breakpoint(laptop) {
    }
  }

  .why-chose-logo-size {
    display: flex;
    width: 100%;

    @include breakpoint(mobile) {
      max-width: 230px;
      height: auto;
    }
    @include breakpoint(tablet) {
      max-width: 230px;
      height: auto;
    }
    @include breakpoint(laptop) {
      max-width: 330px;
      height: auto;
    }
  }
}
