.why-choose-positioner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  //border: 1px solid green;
}

.why-choose {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 110px;

  &__block {
    background: rgb(88, 50, 117);
    background: linear-gradient(
      40deg,
      rgba(88, 50, 117, 1) 18%,
      rgba(43, 68, 231, 1) 55%,
      rgba(68, 136, 139, 1) 80%
    );
    display: flex;
    width: 100%;
    max-width: 1300px;
    position: relative;
    padding: 56px 48px;
    border-radius: 24px;
  }

  &__text {
    &--title {
      color: #fff;
      font-family: Inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 36px */
    }
    &--subtitle {
      color: #fff;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 24px */
    }
  }

  &__casperlogo {
    display: flex;
    position: absolute;
    right: -80px;
    top: -110px;
  }
  .why-chose-logo-size {
    width: 100%;
    max-width: 610px;
    height: auto;
  }
}
