//Colors
$c-blue-main: #2b44e7;
$c-white-main: #fff;
$c-navy-main: var(--NAVY, #161a39);
$c-black-main: var(--BLACK, #000);
$c-gray-main: var(--Gray-6, #f2f2f2); 
$c-red-main: var(--RED, #ff202e);
$overlay-color: #161a39;