.parallax-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: 900px;
}

.parallax-image {
  position: absolute;
  width: 100%;
}

