.outer-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint(mobile) {
    width: 100%;
    max-width: 400px;
    height: 400px;
  }

  @include breakpoint(tablet) {
    width: 100%;
    height: 400px;
  }
}

.image {
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint(mobile) {
    width: 100%;
    max-width: 400px;
    height: 300px;
    display: flex;
  }

  @include breakpoint(tablet) {
    width: 100%;
    max-width: 400px;
    height: 300px;
    display: flex;
  }
}
