.experienced-positioner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  background: var(--RED, #FF202E);
}

.experienced-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.experienced-join {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 170px;
  width: 100%;
  max-width: 1300px;
  height: 500px;

  @include breakpoint(tablet) {
    max-width: 600px;
    height: 200px;
  }
  @include breakpoint(mobile) {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100px;
    height: 320px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 70px;
    width: 100%;
  }
}
