.experienced-positioner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}

.experienced-block{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.experienced-join{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 170px;
    width: 100%;
}