.experienced-positioner {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  //padding: 180px 0;
}

.experienced {
  display: flex;
  width: 100%;
  max-width: 1440px;
  align-items: center;
  flex-direction: column;
  background: #003B93;

}
