.infrastructure-positioner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 140px;
  box-sizing: border-box;

  @include breakpoint(mobile) {
    padding: 50px;
  }
  @include breakpoint(tablet) {
    padding: 100px;
  }

  @include breakpoint(laptop) {
    padding: 100px;
  }
}

.infrastructure {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;

  &__blocks-in-row {
    max-width: 1440px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 90px;

    @include breakpoint(mobile) {
      margin-top: 80px;
    }
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__subtitle {
    margin-top: 15px;
    color: $c-black-main;
    text-align: center;
    width: 870px;
    font-size: 16px;
    line-height: 150%;

    @include breakpoint(tablet) {
      width: 400px;
    }
    @include breakpoint(mobile) {
      width: 350px;
      font-size: 14px;
    }
    @include breakpoint(laptop) {
      width: 730px;
    }
  }

  &__title {
    color: $c-black-main;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 130%;

    @include breakpoint(tablet) {
      width: 400px;
    }
    @include breakpoint(mobile) {
      font-size: 35px;
    }
    @include breakpoint(laptop) {
      width: 670px;
    }
  }
}
