.infrastructure-positioner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 140px;
  box-sizing: border-box;

  @include breakpoint(tablet) {
  }
  @include breakpoint(mobile) {
  }
}

.infrastructure {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;

  &__blocks-in-row {
    max-width: 1440px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;

    @include breakpoint(tablet) {
    }
    @include breakpoint(mobile) {
    }
  }

  &__header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include breakpoint(tablet) {
    }
    @include breakpoint(mobile) {
    }
  }

  &__subtitle {
    padding: 15px;

    color: var(--Black, #1d1d1f);
    text-align: center;

    /* P_Body */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */

    @include breakpoint(tablet) {
    }
    @include breakpoint(mobile) {
    }
  }

  &__title {
    color: var(--Black, #1d1d1f);
    text-align: center;

    /* P_H2a */
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 52px */

    @include breakpoint(tablet) {
    }
    @include breakpoint(mobile) {
    }
  }
}
