.page {
  position: relative;
  width: 100%;

  background: url("../assets/Intro-test.png") left top, right top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-position: 30% 40%;
  width: 100%;

  &__block {
    position: relative;
    margin-top: 260px;
    width: 100%;
    background: linear-gradient(
      178deg,
      rgba(5, 78, 187, 0) 1.81%,
      rgba(4, 74, 179, 0.27) 11.14%,
      rgba(4, 72, 174, 0.43) 16.2%,
      rgba(1, 62, 153, 0.79) 32.1%,
      #003b93 50.31%
    );
    //z-index: 1;
    height: 300px;
    bottom: 0;
    // transform: translateY(100%);
  }
}

.page::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 50%;
  height: 100%;
  max-width: 400px;
  background: #2b44e7;
  border-radius: 909px;
  opacity: 0.3;
  filter: blur(270px);
  z-index: -1;
}

.page::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 50%;
  max-width: 400px;
  background: #2b44e7;
  border-radius: 909px;
  opacity: 0.3;
  filter: blur(270px);
  z-index: -1;
}
