.page {
  display: flex;
  width: 100%;
  flex-direction: column;

  &__container {
    display: flex;
    width: 100%;
    background: $c-red-main;
    flex-direction: column;

    background-image: url("../assets/mountain-deskop.svg");
    background-repeat: no-repeat;
    background-size: 220% 105%;
    background-position: 50% 45%;

    @include breakpoint(laptop) {
      background-image: url("../assets/mountain-mobile.svg");
      background-repeat: no-repeat;
      background-size: 260% 110%;
      background-position: 55% -50%;
    }

    @include breakpoint(tablet) {
      background-image: url("../assets/mountain-mobile.svg");
      background-repeat: no-repeat;
      background-size: 220% 105%;
      background-position: 50% -10%;
    }
    @include breakpoint(mobile) {
      background-image: url("../assets/mountain-mobile.svg");
      background-repeat: no-repeat;
      background-size: 220% 105%;
      background-position: 50% 30%;
    }
  }

  &__content {
    display: flex;
    width: 100%;
  }

  &__animation {
    display: flex;
    width: 100%;
  }
}
