.metal {
  border-color: blue;
  border-style: solid;
  width: auto;
  height: 975px;
  //top: 1623px;
  background-color: #031735;
  display: flex;
  align-items: center;
  justify-content: center;
}
