.baremetal-positioner {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  //border: 10px solid sandybrown;
}

.baremetal-bck {
  display: flex;
  //border: 1px solid gold;
  width: 100%;
  max-width: 1440px;
  min-height: 975px;
  justify-content: center;
  align-items: center;
  background: #031735;
}
